{% extends 'base.html.twig' %}

{% block title %}Ajout d'une offre de stage{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h2 class="text-center my-3">Ajout d'une offre de stage</h2>
    {{ form(form) }}
       
    
</div>
{% endblock %}