{% extends 'base.html.twig' %}

{% block title %} Offre de stage{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h2 class="text-center my-3">Offre de stage</h2>
    <p>L'anonce sera vérifier par l'administrateur du site avant d'être publier</p>
    {{ form(form) }}
       
    
</div>
{% endblock %}