
%model{
    max-width: 198px;
    min-height: 255px;
    margin: auto;
    padding: auto;
    border: solid black 2px;
    
}
%modelTab{
    width: 5rem;
}

body{
    padding: 0.5rem;
}
.logo{
    height: 5rem;
    width: 5rem;
}
.boxType{
    max-width: 25rem;
    min-height: 25rem;
    margin: auto;
    padding: auto;
    border: solid black 2px;
    
}
.boxe{
    @extend %model;
    background-size: cover;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  