{% extends 'base.html.twig' %}

{% block title %}Espace Entreprise{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h2 class="text-center my-3">fiche Entreprise</h2>
    <div class="row">
        <div class="col-12 col-md-3">
       
         
           
        </div>
        
        <div class="col-12 col-md-8">
            
        </div>
    </div>
       
    
</div>
{% endblock %}