{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %} Dashboad {% endblock %}

{% block content %}
    <div class="content">

        <div class="container">
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#"></a>
                </li>
                <li class="breadcrumb-item active"> </li>
            </ol>
            <!-- Icon Cards-->
        </div>

        <div class="container">
            <div class="row">
                <h1> Tableau de bord </h1>
            </div>
            <div class="row mt-3">
                <div class="col-4 alert-success">
                    <span class="display-3">{{ countAllUser['value'] }}  </span> Utilisateurs
                </div>
                <div class="col-4 alert-dark">
                    <span class="display-3">{{ countAllApprenant['value'] }}  </span> Apprenant
                </div>
                <div class="col-4 alert-dark">
                    <span class="display-3">{{ countAllEntreprise['value'] }}  </span> Entreprise
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-12">
                    <h3> Liste des villes </h3>

                    <ul class="list-group">
                       
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}